*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
body{
 
}
header{
    margin-bottom: 10rem;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 20%;
}
header *{
   width: 100%;
    
}
.hola{
    font-size: 0.85rem;
    font-weight: bold;
    opacity: .65;
}
article{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 20%;

}
article *{
    width: 100%;

}
.minombre{
    font-size: 3rem;
    margin-bottom: 0.5rem;
}
.futuro{
    font-size: 1rem;
    margin-bottom: 1rem;
}
.hola1{
    opacity: .65;
    margin-bottom: 1rem;
}   
.button{
    width: 35px;
    height: auto;
}
section *{
    width: 100%;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20%;
}
.project{
    border:gray;
    border-style: solid;
    border-radius: 100
}
.alo{
    border: gray;
    border-style: solid;
}
footer *{
    width: 100%;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
