*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    backdrop-filter: none;
}
body{
    background-image: url(images/fondo1.jpg);
    background-size: 100%;
    background-repeat: repeat-y;
    }

header { gap: 1rem;
    padding-top: 1rem;
}
.hola{
    font-size: 0.85rem;
    font-weight: bold;
    opacity: .65;
}
article{
    max-width: fit-content;
    padding-inline: 30%;
    align-content: center;

}
article *{width: 100%;}
.minombre{
    padding-bottom: 0,5rem;
    grid-column: 1;
    font-size: 3rem;
    padding-left: 1rem;
}
.span{
    grid-column: 1;
    font-size: 1rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
}
.mensaje{
    grid-column: 1;
    opacity: .65;
    margin-block: 1rem 1.5rem;
    max-width: 60%;
    padding-left: 1rem;
}   
.button{
    max-width: fit-content;
    width: 35px;
    height: auto;
}
section{   
    display: inline;
}
.container{
    gap: 1rem;  
    width: 100%;
    font-size: auto;
    padding-inline: 30%;
    margin-bottom: 5rem;
}
.colum{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content:space-evenly;
    cursor: pointer;
    gap: 1rem;
}

.segundotitulo{
    max-width: 100%;
    text-align: center;
    margin-bottom: 3rem;
    color: rgb(77, 76, 76);
    text-shadow:0px 0px 10px cyan,
                0px 0px 20px rgb(141, 141, 141),
                0px 0px 30px rgb(44, 44, 44);
    font-size: 50px;
}
.project:hover {
    scale: 1.01;
}
.project{
    display: flex;
    flex-direction: column;
    border-radius: 1%;
    border-spacing: 1rem;
    border-color: rgb(143, 137, 137),cyan;
    height: max-content;
    backdrop-filter: blur(10px);
    background-image: repeating-linear-gradient(90deg , rgba(255, 255, 255, 0.40),rgba(0, 255, 255, 0.40));
    
}
.project, .img {
    border-width: 50%;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    padding: 0.5%;
  }
.title {
    font-size: 20px;
    padding: 10px;
}
.text{
    font: bold;
    font-size: medium;
    flex-grow: 2;
    padding-inline: 10px;
    backdrop-filter: blur(50%) ;
}

footer *{
    width: 100%;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.centrar{
    padding-left: 30%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
    position: relative;
}
.abajo{
    padding-top: 20%;
}
.loeader:{
    
}
.loeader::after {
    grid-column: 1;
    background: linear-gradient(10deg, white ,cyan);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    opacity: 0.65;
    content: "" ;
    font-weight: 650;
    font-size: 50px;
    animation-name: animatingtext;
    animation-duration: 1200ms;
    animation-iteration-count: infinite;
    background-image: repeating-linear-gradient(90deg , rgb(184, 184, 184),rgb(32, 32, 32));
}
@keyframes animatingtext {
    0%   {content: "W";}
    4%   {content: "We";}
    12%  {content: "Web";}
    20%  {content: "Web D";}
    30%  {content: "Web De";}
    45%  {content: "Web Dev";}
    50%  {content: "Web Deve";}
    55%  {content: "Web Devel";}
    60%  {content: "Web Develo";}
    65%  {content: "Web Develop";}
    70%  {content: "Web Develope";}
    80%  {content: "Web Developer";}
    90%  {content: "Web Developer ";}
    100% {content: "Web Developer ";}
}
.datos{
    background-image: repeating-linear-gradient(90deg , white,cyan);
    border: none;
    border-radius: 1rem;
    opacity: .65;
    margin-right: 5rem;
    align-content: center;
    backdrop-filter: blur(2px);
    box-shadow: 0px 0px 10px cyan,
                0px 0px 20px rgb(92, 92, 92),
                0px 0px 30px rgb(32, 32, 32);
    margin-block: 10px;

}
.imagen{
    grid-column: 2;
    width:30%;
    box-shadow: 0px 0px 10px cyan,
                0px 0px 20px cyan,
                0px 0px 30px white;
    border-radius: 80%;
    
    
}
.redes{
    max-width: fit-content;
    margin-bottom: 5rem;
}
.estudios{
    max-width: 100%;
    text-align: center;
    color: rgb(77, 76, 76);
    text-shadow:0px 0px 10px cyan,
                0px 0px 20px rgb(141, 141, 141),
                0px 0px 30px rgb(44, 44, 44);
    font-size: 50px;
    margin-bottom: 2rem;
}
.utn{
    width: 20rem;
    height: auto;   
}
.study{
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-block: 5rem;
}
.utn1{
 
}
.divlogos{
    align-content: center;
    padding-inline: 30%;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 5rem;
    column-gap: 5rem;
    display: grid;
    margin-bottom: 5rem;
}
.logos{
    max-width: fit-content;
    width: 70px;
    height: auto;
    grid: 1;
}
.logos:hover {
    scale: 1.5;
}
.tercertitulo{
    max-width: 100%;
    text-align: center;
    margin-bottom: 4rem;
    color: rgb(77, 76, 76);
    text-shadow:0px 0px 10px cyan,
                0px 0px 20px rgb(141, 141, 141),
                0px 0px 30px rgb(44, 44, 44);
    font-size: 50px;
}
